:root {
    --title-bg-color: #0e1011;
    --title-text-color: #ffffff;
    --title-height: 32px;
    --buttons-container-height: 32px;
    --bg-color: #171819;
    --buttons-bg-color: #141719;
    --button-bg-color: #b5bac1;
    --button-bg-hover-color: #DADDE0;
    --button-text-color: #383a40;
    --button-text-hover-color: #000000;
    --msg-item-bg-odd-color: #1e1f22;
    --msg-item-bg-even-color: #2a2b2f;
    --msg-list-bg-color: #161616;
    --msg-item-author-text-color: #dadada;
    --msg-item-text-color: #cfcfcf;
    --msg-item-text-mod-color: #0099ff;
    --msg-item-text-owner-color: #d0ff00;
    --important-msg-bg-color: #4d0000;
    --popup-width: 500px;
    --font-size: 14px;
    --font-size-list: 13.3px;
    --button-margin: 4px;
    --padding: 5px;
}

body {
    background: var(--bg-color);
    margin: 0px;
}

body[popup] {
    width: var(--popup-width);
    margin: 5px;
}

.buttons {
    display: flex;
    padding: var(--padding);
    background: var(--buttons-bg-color);
    align-items: center;
}

.buttons[main] {
    height: var(--buttons-container-height);
}

.customButton {
    margin-left: var(--button-margin);
    font-size: var(--font-size);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--padding);
    border-radius: 3px;
    margin-right: var(--button-margin);
    cursor: pointer;
}

.customButton:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-text-hover-color);
}

#streamLists {
    flex: 1;
}

.messages__item {
    padding: 3px;
}

.messages__item:nth-child(odd) {
    background: var(--msg-item-bg-odd-color);
}

.messages__item:nth-child(even) {
    background: var(--msg-item-bg-even-color);
}

.messages {
    box-sizing: border-box;
    font-size: var(--font-size-list);
    max-height: var(--popup-width);
    background: var(--msg-list-bg-color);
    overflow: hidden;
    overflow-y: auto;
}

.messages[main] {
    max-height: calc(100vh - var(--title-height) - var(--buttons-container-height) - 4 * var(--padding));
}

.title {
    font-size: var(--font-size);
    background: var(--title-bg-color);
    color: var(--title-text-color);
    padding: var(--padding);
    margin: 0px;
    font-weight: bold;
}

.title[main] {
    height: var(--title-height);
}

.title__icon {
    vertical-align: middle;
}

.messages__author {
    color: var(--msg-item-author-text-color);
    font-weight: bold;
}

.messages__author[mod] {
    color: var(--msg-item-text-mod-color);
}

.messages__author[owner] {
    color: var(--msg-item-text-owner-color);
}

.messages__message-text {
    color: var(--msg-item-text-color);
    word-break: break-all;
    selector {
        word-wrap: break-word;      /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap;      /* current browsers */
    };
}

.messages__semi {
    color: var(--title-text-color);
}

.hidden {
    display: none !important;
}

.important {
    background: var(--important-msg-bg-color) !important;
}